body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

button {
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
